body{

margin:0;

background:#ddd;

font-family:Arial;

}



.toolbar{

background:white;

padding:15px;

position:sticky;

top:0;

z-index:10;

}



#pdf-container{

display:flex;

flex-direction:column;

align-items:center;

}



.page{

position:relative;

margin:20px;

}



canvas{

display:block;

box-shadow:0 0 10px gray;

}



.textLayer{

position:absolute;

left:0;

top:0;

right:0;

bottom:0;

overflow:hidden;

line-height:1;

}



.textLayer span{

color:transparent;

position:absolute;

white-space:pre;

cursor:text;

}



.highlightLayer{

position:absolute;

left:0;

top:0;

right:0;

bottom:0;

pointer-events:none;

z-index:2;

}



.sentence-highlight{

position:absolute;

background:rgba(255,255,0,0.45);

pointer-events:none;

}